@font-face {
	font-family: "Iosevka Fixed Slab Web";
	font-display: block;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url("iosevka-fixed-slab-regular.woff2") format("woff2");
}

:root {
	--overhang: 4px;
}

html {
	font-family: "Iosevka Fixed Slab Web";
	background-color: aquamarine;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	height: 100%;
	width: max-content;
}

main {
	width: 380px;
	background-color: white;
	margin: 2em;
	padding: 1em 2em;
	border: outset;
}

header {
	display: flex;
	align-items: baseline;
	gap: 8px;
}

header img {
	height: 36px;
}

header h1 {
	margin: 0;
	flex: 1;
}

form {
	display: flex;
	gap: 8px;
	margin: 1em 0;
	align-items: baseline;
}

form input[type="number"] {
	font-family: inherit;
	font-size: 16px;
}

textarea {
	font-size: 18px;
	width: 100%;
	resize: vertical;
	font-family: inherit;
	margin: calc(-1 * var(--overhang));
	padding: var(--overhang);
	border: 2px inset;
}

footer {
	line-break: anywhere;
	margin: calc(-1 * var(--overhang));
	padding: var(--overhang);
	border: 2px inset;
}

footer code {
	font-size: 18px;
	font-family: inherit;
}

footer.invalid {
	height: 46px;
	background: repeating-linear-gradient(
		-45deg,
		rgba(255, 69, 13, 0.75),
		rgb(255, 69, 13, 0.75) 6px,
		#fff 6px,
		#fff 12px
	);
}
